.canvas {
    position: relative;
}
.canvas .canvasimg {
    position: absolute;
}

.marker-container {
    position: absolute;
    z-index: 2;
}

.marker {
    position: absolute;
}

.marker img {
    position: relative;
    width: 2em;
    height: 2em;
    left: -1em;
    top: -1em;

}