#imgtag {
    position: relative;
}
#imgtag .canvasimg {
    position: absolute;
}

.marker-container {
    position: absolute;
    z-index: 2;
}

.marker {
    position: absolute;
}

.marker img {
    position: relative;
}